@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />


<div class="text-center">
    <h1 class="display-4"><b>Bienvenidos Sistema de Notas MEP</b></h1>
    <h2>Garantizamos el derecho  fundamental a una educación de calidad a los habitantes del país</h2>
    <div>
        <img class="logo-home" src="~/images/logo.jpeg" />
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-4">
        <div class="product-container">
            <div class="product-details">
                <h4><b>Noticias</b></h4>
            </div>
            <img class="img-index" src="~/images/clases1.jpeg" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="product-container">
            <div class="product-details">
                <h4><b>Propuesta Educativa</b></h4>
            </div>
            <img class="img-index" src="~/images/clases2.jpeg" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="product-container">
            <div class="product-details">
                <h4><b>Idiomas</b></h4>
            </div>
            <img class="img-index" src="~/images/clases3.jpeg" />
        </div>
    </div>


</div>
