@model IEnumerable<proyectoscrum.Models.Materia>

@{
    ViewData["Title"] = "Index";
}


<h1><b>Gestión de Materias</b></h1>
<br />


    <div class="container">
        <form asp-action="Search" method="get">
            <img class="logo-create" src="~/images/lupa.jpeg" />
            <label><b>Buscar:</b></label>
            <input class="label-size" type="text" name="busqueda" />
            <button class="btn btn-buscar btn-style" type="submit">Buscar</button>
        </form>
    </div>
    <br />

        @if (User.IsInRole("1") || User.IsInRole("3")){
    <div class="container">
        <a class="btn btn-create" asp-action="Create"><img class="logo-create" src="~/images/usuaio.png" />Nuevo</a>
    </div>
          }
    <br />
  
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Materia
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreMateria)
                </td>
                    @if (User.IsInRole("1") || User.IsInRole("3"))
                        { 
                <td>
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">

                            <a class="btn btn-index btn-style" asp-action="Edit" asp-route-id="@item.IdMateria">Editar</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-index btn-style" asp-action="Details" asp-route-id="@item.IdMateria">Detalles</a>
                        </li>
                    </ul>
                </td>
                        }
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<div>
    <a asp-action="Index">Gestión de Materias</a>
</div>